<!doctype html>
<title>{% block title %}{% endblock %} - LMS</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>LMS</h1>
      <li><a href="{{ url_for('book.index') }}">Books</a>
      <li><a href="{{ url_for('member.index') }}">Members</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>